<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header class="navbar navbar-expand-sm ">
  <div class="container">
    <%= link_to "绿帽子大学", 'http://lmzdx.net', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav mr-auto">
        <li><%= link_to "主页", '#' %></li>
        |
        <li><%= link_to "介绍", '#' %></li>
        |
        <li><%= link_to "注册", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
